#background{
    background-color: #ecc19c;
    padding: 1%;
    margin: -8px;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #51a88b;
    color: black;
    box-shadow: 4px 4px 5px black;
    margin-bottom: 20px;
}

#inf{
    align-items: center;
    background-color: #51a88b;
    color: black;
    box-shadow: 4px 4px 5px black;
    padding: 10px;
    margin-bottom: 20px;
}

#point{
    padding: 10px;
    background-color: #51a88b;
    box-shadow: 4px 4px 5px black;
    margin-bottom: 20px;
}

#task{
    padding: 10px;
    background-color: #51a88b;
    box-shadow: 4px 4px 5px black;
}